page-bonus-alt {
  ion-item , ion-content{
    background-color : color($colors, menuBackground , base) !important;
  }

  h2 , h3  {
    color : color($colors, menuText, base);
  }

  .grayscale {-webkit-filter: hue-rotate(300deg); filter: hue-rotate(300deg);}

  p {
    color : color($colors, menuSubText, base) !important;
  }
}
